and_chr 92
and_ff 90
and_qq 10.4
and_uc 12.12
baidu 7.12
chrome 93
chrome 92
chrome 91
edge 93
firefox 91
firefox 90
firefox 78
ios_saf 14.5-14.7
ios_saf 14.0-14.4
ios_saf 13.4-13.7
ios_saf 11.0-11.2
kaios 2.5
op_mini all
opera 78
opera 77
safari 14.1
safari 14
safari 13.1
samsung 14.0
samsung 13.0
