<div class="px-4 py-6 flex flex-col dark:text-blueGray-100 items-center justify-center space-y-2">
  <p>总进度(仅统计有文本的项目)</p>
  <% @total.sort_by { |k, v | v }.to_h.keys.reverse.each do |type| %>
    <div class="rounded shadow bg-sky-300 dark:bg-sky-600 px-3 py-2 w-full max-w-xl flex flex-row items-center justify-between">
      <span class="w-1/2">
        <%= type %>
      </span>
      <span class="self-end flex flex-row text-right items-center space-x-2">
        <span class="w-24">
          <%= @have_contents[type] || 0 %>/<%= @total[type] %>
        </span>
        <span class="w-20">
          <%= @percentage[type] %>%
        </span>
      </span>
    </div>
  <% end %>
</div>
