<turbo-frame id="entry_list" class="flex flex-col font-sans" data-controller="entry-list-component">
  <div id="entry_list_header" class="flex flex-row justify-start font-semibold gap-x-2">
    <div class="w-12">状态</div>
    <div class="w-12 hidden md:block">编号</div>
    <div class="w-12 hidden md:block mr-3">narrator</div>
    <div class="w-full">文本</div>
  </div>
  <div id="entry_list_body" class="flex flex-col max-h-96 overflow-auto">
    <% cache entries do %>
      <% entries.each do |entry| %>
        <%= render partial: 'entries/entry_list_item', locals: { entry: entry } %>
      <% end %>
    <% end %>
  </div>
  <div class="flex flex-row items-center justify-between text-sm">
    <div class="">文件名: <%= entries.first.project_file.name %>
      <a href="<%= project_file_output_path @project_file.id %>"
         class="ml-4 text-red-600"
         target="_blank"
      >
        下载
      </a>
    </div>

<!--    <div class="">最后修改于: <%#= entries.first.project_file.updated_at %></div>-->
  </div>
</turbo-frame>
