<turbo-frame id="entry_list" class="bg-gray-100 flex flex-col px-4 py-2 font-sans" data-controller="entry-list-component">
  <div id="entry_list_header" class="flex flex-row justify-start font-semibold gap-x-2">
    <div class="w-12">状态</div>
    <div class="w-16">编号</div>
    <div class="w-full">文本</div>
  </div>
  <div id="entry_list_body" class="flex flex-col max-h-72 overflow-auto">
    <% cache entries do %>
      <% entries.each do |entry| %>
        <%= render partial: 'entries/entry_list_item', locals: { entry: entry } %>
      <% end %>
    <% end %>
  </div>
</turbo-frame>
