<turbo-frame id="entry_edit_hints">
  <% if hints.any? %>
    <% hints.each do |hint| %>
      <div class="flex flex-row gap-2 max-w-3xl">
        <div class="text-sm w-fit">
          <%= hint["name"] %>
        </div>
        <div class="flex flex-col flex-no-wrap">
          <div class="text-xs">
            <span class="text-sm" lang="ja"></span> <%= hint["source"] %>
          </div>
          <div class="text-sm">
            <span class="text-sm" lang="zh-Hans"></span> <%= hint["chinese"] %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</turbo-frame>
