<% cache @entry do %>
  <turbo-frame id="entry-details" class="flex flex-col rounded-md shadow p-2 mx-2 bg-gray-100 dark:bg-gray-700 dark:text-gray-200">
    <% unless @entry.user_id.nil? %>
      <div class="">
        最后编辑: <%= @entry.user.nickname %>
      </div>
    <% end %>
    <%= render @entry %>
  </turbo-frame>
<!--  <turbo-frame id="entry-edit"-->
<!--               class="flex flex-col rounded-md shadow p-2 mx-2 bg-gray-100 dark:bg-gray-700 dark:text-gray-200"-->
<!--               src="<%#= edit_entry_path(@entry) %>"></turbo-frame>-->
<% end %>
