<div class="flex flex-col md:flex-row flex-no-wrap items-center gap-2 md:gap-5 bg-red-100 dark:bg-gray-600 dark:text-gray-200 rounded-md shadow-lg p-2 mx-2"
     data-controller="entry-batch-import-component">
  <div class="w-24">批量导入条目</div>
  <%= form_tag "/project_files/#{@project_file.id}/batch", multipart: true,
               data: { "entry-batch-import-component-target": "form", "turbo-frame": "_top" },
               class: "flex flex-col md:flex-row flex-no-wrap gap-2 md:gap-5 items-center" do %>
    <div class="text-red-700 dark:text-red-400">请确保文件名一致，二校后文本无法变更</div>
    <%= file_field_tag "uploaded_file", required: true, class: "w-56", id: "file" %>
    <% if @current_user.admin? %>
     <%= select "status", "", Entry.statuses, class: "w-16"%>
    <% end %>
    <button class="w-12 h-8 px-2 py-1 bg-red-400 hover:bg-red-500 border border-gray-800 dark:text-gray-800 rounded shadow text-sm"
            data-action="entry-batch-import-component#click"
    >
      上传
    </button>
  <% end %>
</div>
