<turbo-frame id="file_list" @click.away="file_list = 'close'"
             class="font-sans flex flex-col bg-gray-100 px-2 py-1 lg:w-auto lg:shadow-md lg:mt-2 lg:ml-2 dark:bg-gray-800 lg:dark:mt-0 lg:dark:ml-0"
             > <!-- w-80 -->
  <div id="file_list_header" class="flex flex-row justify-between mt-1 mb-2 dark:text-gray-200">
    <div></div>
    <div class="grid grid-cols-4 place-items-end gap-x-2 font-light text-right text-[0.5rem] leading-none">
      <div class="">空白</div>
      <div class="">草稿</div>
      <div class="">校对</div>
      <div class="">完成</div>
    </div>
  </div>


  <div class="shadow"
       data-controller="file-list-component"
       data-file-list-component-current-value="<%= @file_id %>"
  >
    <div id="file_list_body"
         class="overflow-y-scroll hidden-scrollbar mb-2 rounded <%= @frame=="_top" ? 'h-[70vh]' : 'h-[60vh] sticky?lg:h-(screen-11)' %>"
    >
      <% @project_files.each do |project_file| %>
        <%= render(FileListItemComponent.new(project_file: project_file, frame: @frame)) %>
      <% end %>
    </div>

    <div class="flex flex-row justify-between gap-2 text-sm mx-4 md:mx-2 dark:text-gray-200">
      <div class="">文件直达</div>
      <label>
        <input type="text" class="w-20 h-5 p-0 hidden-arrows rounded dark:bg-gray-500"
               data-file-list-component-target="gotoFile" data-action="keydown->file-list-component#gotoKeyboard">
      </label>
      <button class="rounded-md px-2 border-2 border-blue-300 hover:appearance-none dark:border-blue-500 bg-indigo-300 dark:bg-indigo-600 font-semibold"
              data-action="file-list-component#goto">GO</button>
    </div>
  </div>

  <turbo-frame id="file_list_nav" class="ml-4 w-80 flex text-sm my-2 items-center justify-between rounded-md lg:w-auto lg:ml-0 dark:text-gray-200" target="file_list">
    <%= paginate @project_files, params: { file_id: 0 } %>
  </turbo-frame>
</turbo-frame>

