<div class="bg-red-300 dark:bg-purple-900 dark:text-gray-300 rounded-md shadow mx-2 px-4 py-2 flex flex-col lg:flex-row gap-x-5 justify-between items-center">
  <span>您需要登录账号才可以编辑。注册后请等待审核，如超过24小时无回应请联系群主核实。</span>
  <span>魔塔大陆汉化交流群 <a class="text-blue-700 dark:text-blue-400" href="https://jq.qq.com/?_wv=1027&k=GTa85HBS" target="_blank">【歌颂之丘】754719995</a></span>
</div>
