<div class="flex flex-col w-full h-screen-12 justify-center items-center dark:text-gray-50">
  <div class="mx-auto my-4 text-2xl">首页施工中</div>
  <a class="text-blue-800 dark:text-blue-300" href="<%= project_files_path %>">EVD文件列表</a>
</div>
