@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./actiontext.scss";

@supports ((position: -webkit-sticky) or (position:sticky)) {
  .sticky\?\:h-screen {
    height:100vh!important
  }

  .sticky\?\:h-\(screen-24\) {
    height: calc(100vh - 6rem);
  }

  @media (min-width:1024px) {
    .sticky\?lg\:h-screen {
      height:100vh!important
    }

    .sticky\?lg\:h-\(screen-48\) {
      height: calc(100vh - 12rem);
    }
  }
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hidden-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.resize-vertical {
  resize: vertical;
}
